<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="Hour" value="16" />
        <add key="chkAbsolutePath" value="0" />
        <add key="chkNewCssName" value="0" />
        <add key="chkBreakLine" value="0" />
        <add key="chk2x" value="0" />
        <add key="chkNewName" value="0" />
        <add key="chkToPng8" value="0" />
        <add key="chkGray" value="0" />
        <add key="chkYoutu" value="0" />
        <add key="chkSVN1" value="0" />
        <add key="chkCopyImg" value="0" />
        <add key="chkBase64NoLimit" value="0" />
        <add key="chkDest1" value="0" />
        <add key="chkDest3" value="0" />
        <add key="pathDest3Name" value="LEOMAST_PHONE" />
        <add key="chkDest2" value="0" />
        <add key="pathDest2Name" value="LEOMAST" />
        <add key="pathDest4Name" value="coolbrowser" />
        <add key="chkDest4" value="0" />
        <add key="chkWatch" value="0" />
        <add key="chkTopMost" value="1" />
        <add key="chkSkin" value="0" />
        <add key="chkSkin2" value="0" />
        <add key="chkCheckImport" value="1" />
        <add key="chkTemp" value="1" />
        <add key="spriteFormat" value="png32" />
        <add key="pathDest1Name" value="测试" />
        <add key="customUrl1" value="" />
        <add key="pathDest1" value="D:\ping\web_space\测试" />
        <add key="pathReport1" value="" />
        <add key="customUrl2" value="" />
        <add key="pathDest2" value="D:\ping\web_space\LEOMAST\docs\css\cssgaga" />
        <add key="pathReport2" value="" />
        <add key="customUrl3" value="" />
        <add key="pathDest3" value="D:\ping\web_space\LEOMAST_PHONE\docs\css\cssgaga" />
        <add key="pathReport3" value="" />
        <add key="customUrl4" value="" />
        <add key="pathDest4" value="D:\ping\web_space\coolbrowser\coolbrowser_officialwebsite\docs\css\cssgaga" />
        <add key="pathReport4" value="" />
        <add key="customUrl5" value="" />
        <add key="pathDest5" value="" />
        <add key="pathReport5" value="" />
        <add key="customUrl6" value="" />
        <add key="pathDest6" value="" />
        <add key="pathReport6" value="" />
        <add key="customUrl7" value="" />
        <add key="pathDest7" value="" />
        <add key="pathReport7" value="" />
        <add key="sliceCode" value=".%filename%{$}" />
        <add key="rename" value="%filename%@2x" />
        <add key="filetype" value=".js;.json;.cur;.ico;.swf;.htc;.eot;.svg;.ttf;.woff;.appcache;.manifest;.php" />
        <add key="timecode" value="max_age=19830212&amp;d=%year%%month%%day%%hour%%minute%%second%" />
        <add key="spritecode" value="%filename%, %width%, %height%, %x%, %y%" />
        <add key="chkJpegTran" value="0" />
        <add key="webSiteUrl" value="" />
        <add key="pathReport" value="" />
        <add key="pathSource" value="D:\work\SZ\ETSAPP-H5\code\trunk\src\html5AppAll\dynamicUtilRatio\docs\css" />
    </appSettings>
    <connectionStrings>
        <add name="CssGaga.Properties.Settings.SQLiteConnectionString"
            connectionString="data source=|DataDirectory|\db.sqlite" providerName="System.Data.SQLite" />
    </connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0"/></startup></configuration>